.BlogHeader{
    display: flex;
    background: transparent;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10px;
    position: fixed;
    top: 10;
}

.Form{
    max-width: 1200px;
    margin: auto;
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 10rem 0;
    min-height: 80vh !important;
    .Main_title{
        font-size: 70px;
        border: none;
        border-bottom: 1px solid gainsboro !important;
        outline: none;
    }
    .inputBlock{
        width:900px;
        margin: auto;
        border-bottom: 1px solid rgb(197, 195, 195);
        input{
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 10px 1rem;
        }
        input[type="text"]{
            font-size: 16px;
        }
        input:focus{
            outline: none
        }
        textarea{
            border: none;
            width: 100%;
            padding: 10px;
            min-height: 25vh;
        }
        .imgPrev , .videoPrev{
            width: 600px;
            margin: auto;
            height: 350px;
            background-color: rgb(23, 65, 65);
            img{
                width: 100%;
            }
        }
        textarea{
            outline: none;
            font-size: 16px;
        }
 
    }
    .urlBlock{
        width: 900px;
        margin: auto;
        input{
            width: 100%;
            font-size: 14px;
            outline: none;
            color: rgb(4, 4, 133);
        }
    }
    .contentTitleBlock{
        width: 900px;
        margin: auto;
        input{
            width: 100%;
            font-size:35px ;
            outline: none;
            border: none;
            border-bottom: 1px solid gainsboro !important;
        }
    }
}
